<%- include('../partials/header') %>
    <div class="container bg-white">
        <div class="row g-4">
            <div class="col-12">
                <h3 class="nceb-heading-primary">Top Centers of 2025</h3>
                <small class="text-bg-warning px-1 fw-bold rounded-5">For 2025 results will be calculated on last day of
                    2025</small>
                <hr>
            </div>
            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_1.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 1">
                            <img src="images/center_images/15967chp.jpeg" class="rounded-circle img-fluid w-75"
                                alt="MIITc2001347 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">AMARJIT SINGH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2001347 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span class="badge rounded-pill text-bg-primary">RANK 1</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_2.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 2">
                            <img src="images/center_images/31616chp.jpeg" class="rounded-circle img-fluid w-75"
                                alt="MIITc200697 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">S FARUQ</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc200697 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 2</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_3.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 3">
                            <img src="images/center_images/13303CHP.JPEG" class="rounded-circle img-fluid w-75"
                                alt="MIITc2001205 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">SUNIL NATH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2001205 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 3</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <img src="images/center_images/74423chp.jpeg"
                            class="rounded-circle img-fluid w-75 border border-5 border-warning"
                            alt="MIITc2303012 MIIT CENTER IMAGE">
                        <br>

                        <br>
                        <small class="m-0 font-bold">BALAJI</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2303012 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 4</span></div>
                </div>
            </div>


            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/18405chp.png" class="rounded-circle img-fluid w-100"
                            alt="MIITc2403126 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">DEEPA COUDHARY</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2403126 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 5</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/49216chp.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc2102044 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">HIMANSHU</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        NCEBc2102044 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 6</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/21918chp.JPEG" class="rounded-circle img-fluid w-100"
                            alt="MIITc2302999 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">ABHAY CHAURASIA</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2302999 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 7</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/26639chp.JPEG" class="rounded-circle img-fluid w-100"
                            alt="MIITc2503171 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">PRIYADARSAN RAJ</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2503171 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 8</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/82583chp.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc2303021 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">MD FARHANUDDIN</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2303021 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 9</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/34640chp.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc190428 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">MUKESH KUMAR</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc190428 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 10</span></div>
                </div>
            </div>



        </div>
        <br>
        <br>

        <div class="row g-4">
            <div class="col-12">
                <h3 class="nceb-heading-primary">Top Centers of 2024</h3>
                <hr>
            </div>
            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_1.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 1">
                            <img src="images/center_images/15967chp.jpeg" class="rounded-circle img-fluid w-75"
                                alt="MIITc2001347 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">AMARJIT SINGH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2001347 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 1</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_2.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 2">
                            <img src="images/center_images/13303CHP.JPEG" class="rounded-circle img-fluid w-75"
                                alt="MIITc2001205 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">SUNIL NATH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2001205 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 2</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_3.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 3">
                            <img src="images/center_images/13303CHP.JPEG" class="rounded-circle img-fluid w-75"
                                alt="MIITc2001205 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">SUNIL NATH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc190156 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 3</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <img src="images/center_images/49216chp.jpeg"
                            class="rounded-circle img-fluid w-75 border border-5 border-warning"
                            alt="MIITc2102044 MIIT CENTER IMAGE">
                        <br>

                        <br>
                        <small class="m-0 font-bold">HIMANSHU</small>
                        
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2102044 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 4</span></div>
                </div>
            </div>


            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/82583chp.JPEG" class="rounded-circle img-fluid w-100"
                            alt="MIITc2303021 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">MD FARHANUDDIN</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2303021 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 5</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/31616chp.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc200697 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">S FARUQ</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc200697 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 6</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/99610chp.jpeg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2101976 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">RONAK SHARMA</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2101976 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 7</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/98303CHP.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc190428 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">MUKESH KUMAR</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc190428 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 8</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/13579Muqueem Ahmed.jpg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2202598 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Muqueem Ahmed</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2202598 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 9</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/88456IMAGE.jpg" class="rounded-circle img-fluid w-100"
                            alt="MIITc2001195 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Sushil kumar</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2001195 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 10</span></div>
                </div>
            </div>



        </div>
        <br>
        <br>

        <div class="row g-4">
            <div class="col-12">
                <h3 class="nceb-heading-primary">Top Centers of 2023</h3>
                <hr>
            </div>
            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_1.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 1">
                            <img src="images/center_images/15967chp.jpeg" class="rounded-circle img-fluid w-75"
                                alt="MIITc2001347 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">AMARJIT SINGH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2001347 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 1</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_2.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 2">
                            <img src="images/center_images/13303CHP.JPEG" class="rounded-circle img-fluid w-75"
                                alt="MIITc2001205 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">SUNIL NATH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2001205 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 2</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_3.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 3">
                            <img src="images/center_images/49216chp.jpeg" class="rounded-circle img-fluid w-75"
                                alt="MIITc2102044 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">Himanshu</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2102044 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 3</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <img src="images/center_images/13303chp.jpeg"
                            class="rounded-circle img-fluid w-75 border border-5 border-warning"
                            alt="MIITc190156 MIIT CENTER IMAGE">
                        <br>

                        <br>
                        <small class="m-0 font-bold">SUNIL NATH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc190156 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 4</span></div>
                </div>
            </div>


            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/31616chp.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc200697 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">S FARUQ</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc200697 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 5</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/69691WhatsApp Image 2022-10-27 at 2.0.jpg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2202696 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">JAVIAD AHMAD</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2202696 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 6</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/15245passport sizggge.jpg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2001373 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Premsagar Gupta</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2001373 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 7</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/34640chp.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc190428 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">MUKESH KUMAR</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc190428 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 8</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/18858B5AD66B4-FDDB-4DE1-8C35-E332F03265E1.jpeg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2202733 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">NARAYAN SHARMA</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2202733 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 9</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/35180IMG-20200126-WA0002.jpg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2202464 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Az Ansari</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2202464 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 10</span></div>
                </div>
            </div>



        </div>
        <br>
        <br>

        <div class="row g-4">
            <div class="col-12">
                <h3 class="nceb-heading-primary">Top Centers of 2022</h3>
                <hr>
            </div>
            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_1.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 1">
                            <img src="images/center_images/13303CHP.jpeg" class="rounded-circle img-fluid w-75"
                                alt="MIITc2001205 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">SUNIL NATH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2001205 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 1</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_2.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 2">
                            <img src="images/center_images/15967chp.jpeg" class="rounded-circle img-fluid w-75"
                                alt="MIITc2001347 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">AMARJIT SINGH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2001347 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 2</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_3.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 3">
                            <img src="images/center_images/49216chp.jpeg" class="rounded-circle img-fluid w-75"
                                alt="MIITc2102044 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">Himanshu</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2102044 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 3</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <img src="images/center_images/34640chp.jpeg"
                            class="rounded-circle img-fluid w-75 border border-5 border-warning"
                            alt="MIITc190428 MIIT CENTER IMAGE">
                        <br>

                        <br>
                        <small class="m-0 font-bold">MUKESH KUMAR</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc190428 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 4</span></div>
                </div>
            </div>


            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/13303CHP.JPEG"
                            class="rounded-circle img-fluid w-100" alt="MIITc190156 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">SUNIL NATH</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc190156 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 5</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/31616chp.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc200697 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">S FARUQ</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc200697 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 6</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/59001207.jpg" class="rounded-circle img-fluid w-100"
                            alt="MIITc2001207 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Dulal Kanti Mahato</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2001207 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 7</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/15245passport sizggge.jpg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2001373 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Premsagar Gupta</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2001373 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 8</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/98303CHP.jpeg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2102099 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Pramod Kumar Shrivastav</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2102099 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 9</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/69691WhatsApp Image 2022-10-27 at 2.0.jpg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2202696 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">JAVIAD AHMAD</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2202696 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 10</span></div>
                </div>
            </div>



        </div>
        <br>
        <br>

        <div class="row g-4">
            <div class="col-12">
                <h3 class="nceb-heading-primary">Top Centers of 2021</h3>
                <hr>
            </div>
            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_1.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 1">
                            <img src="images/center_images/13303CHP.JPEG"
                                class="rounded-circle img-fluid w-75" alt="MIITc190156 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">SUNIL NATH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc190156 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 1</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_2.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 2">
                            <img src="images/center_images/31616chp.jpeg" class="rounded-circle img-fluid w-75"
                                alt="MIITc200697 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">S FARUQ</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc200697 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 2</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <div class="position-relative">
                            <img src="/images/images/rank_bg_3.png"
                                class="position-absolute top-50 start-50 translate-middle img-fluid w-100"
                                alt="RANK BADGE 3">
                            <img src="https://www.nceb.in/uploads/8350020200201_195645-1.jpg"
                                class="rounded-circle img-fluid w-75" alt="MIITc200627 MIIT CENTER IMAGE">
                        </div>
                        <br>
                        <small class="m-0 font-bold">Abdul Zahir</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc200627 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 3</span></div>
                </div>
            </div>


            <div class="col-6 col-md-3">
                <div class="card bg-black text-white shadow border-0 w-100 h-100 position-relative">
                    <div class="card-body text-center">
                        <br>
                        <br>
                        <img src="images/center_images/15967chp.jpeg"
                            class="rounded-circle img-fluid w-75 border border-5 border-warning"
                            alt="MIITc2001347 MIIT CENTER IMAGE">
                        <br>

                        <br>
                        <small class="m-0 font-bold">AMARJIT SINGH</small>
                    </div>
                    <div class="card-footer bg-primary text-center">
                        MIITc2001347 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 4</span></div>
                </div>
            </div>


            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/34640chp.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc190428 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">MUKESH KUMAR</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc190428 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 5</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/24501PIC.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc2001141 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Vipin Kumar</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2001141 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 6</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/15245passport sizggge.jpg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2001373 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Premsagar Gupta</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2001373 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 7</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="https://www.nceb.in/uploads/48195MUKESH ICS.jpg"
                            class="rounded-circle img-fluid w-100" alt="MIITc190382 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">MUKESH KUMAR</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc190382 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 8</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/98303CHP.jpeg"
                            class="rounded-circle img-fluid w-100" alt="MIITc2102099 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Pramod Kumar Shrivastav</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2102099 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 9</span></div>
                </div>
            </div>



            <div class="col-6 col-md-2">
                <div class="card bg-white shadow border-0 w-100 position-relative">
                    <div class="card-body text-center">
                        <img src="images/center_images/49216chp.jpeg" class="rounded-circle img-fluid w-100"
                            alt="MIITc2102044 MIIT CENTER IMAGE">
                        <br>
                        <small class="m-0 font-bold">Himanshu</small>
                    </div>
                    <div class="card-footer bg-secondary text-white text-center">
                        MIITc2102044 </div>
                    <div class="position-absolute top-0 start-50 translate-middle"><span
                            class="badge rounded-pill text-bg-primary">RANK 10</span></div>
                </div>
            </div>



        </div>
        <br>
        <br>


    </div>
    <br>


<%- include('../partials/footer') %>
<script>
        var callMeInput = document.getElementById("callMeInput"),
            callMeError = document.getElementById("callMeError"),
            callMeBtn = document.getElementById("callMeBtn");
        callMeInput.addEventListener("input", (function (e) {
            var t = e.target.value;
            if (10 != t.length) callMeError.innerHTML = "Add 10 digit phone number.", callMeBtn.setAttribute("disabled", "disabled");
            else if (10 == t.length) {
                /^[6-9]\d{9}$/gm.test(t) ? (callMeError.innerHTML = "", callMeBtn.removeAttribute("disabled")) : (callMeError.innerHTML = "Invalid phone number.", callMeBtn.setAttribute("disabled", "disabled"))
            } else callMeError.innerHTML = ""
        })), callMeBtn.addEventListener("click", (function (e) {
            e.preventDefault(), callMeBtn.setAttribute("disabled", "disabled");
            var t = new XMLHttpRequest;
            t.open("POST.html", "website_functions.html", !0), t.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"), t.onreadystatechange = function () {
                4 == t.readyState && 200 == t.status && (response = JSON.parse(t.responseText), 1 == response.e_type ? callMeInput.value = "" : callMeBtn.removeAttribute("disabled"), callMeError.innerText = response.error)
            };
            var n = "callme=1&callmephone=" + callMeInput.value;
            t.send(n)
        }));
    </script>
    <script src="/js/bootstrap.bundle.min.js"></script>