
<%- include('../partials/header') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="container">
        <div class="row">
            <!-- <div class="col-md-6 order-lg-1 text-center d-flex flex-fill">
                <div class="ratio ratio-16x9 align-self-center">
                    <iframe class="w-100" src="https://www.youtube.com/embed/S3wlim7Ng-o" allowfullscreen=""></iframe>
                </div>
            </div> -->

            <div class="col-md-6 text-justify">
                <h2>About <span class="text-primary">M</span>IIT !</h2>
                <p>
                    MIIT  is to carry on the business of software designing, development and traiMIIT
                    computer courses. The company has been registered in the year of 2013 and can share
                    it branches across the country in terms of the said above.
                    Company will be issuing franchise in the following terms and conditions which are
                    said below. MIIT Head Quarter is in TALANGANA and the operations will be from
                    VIJAYAWADA which is said to be a Regional Office. Staff will be given the security
                    of the employment and will be leading a happy life.
                    <br>
                    Students who are enrolled with MIIT will be involved to have a support of placement
                    depending upon their performance and capability. Guidance will be given to every
                    student to face the interview with their skills.
                    MIIT is Technical Training, TTT ( Train The Trainers) , Computer Courses, Fashion
                    Development, Finance Software Courses, Voting Courses, Maintenance of 5’S
                    Courses, Communication Skills and Interpersonal Skills Etc.
                    <br>
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p class="text-justify">
                    In the ever changing environment. Mounten Innovative Information Technologies offers professional counseling
                    being a great need of the hour and this is done by being in closed control with its young members
                    through various events conferences symposia to name a few.
                    Furthermore as computer education in schools plays important role in students career development.
                    Computer with the internet is the most powerful device that students can use to learn new skills and
                    more advanced version of current lessons.
                    The uses of computer and internet are growing day by day at high speed. In almost all businesses
                    companies schools using computers for various official operations.<br>
                    Mounten Innovative Information Technologies is the platform for unchanging the abil and for better career
                    opportunities. Here we assure the bright future of candidate in the computer education.
                    In the current word it is almost impossible to imagine that someone can live without computers. They
                    have become an electronic device of almost everyday use for individuals of every age and essential
                    in almost call the business dealing that are made nowadays. So to provide all the education
                    regarding computers to all the students Mounten Innovative Information Technologies successfully running many
                    centres all over India which focuses on success of the candidate with the updated Technology and
                    fertility in India and therefore Mounten Innovative Information Technologies is successfully running many
                    centres all over India and its franchises.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card bg-white border-0 rounded-0 w-100 p-3">
                    <div class="glider-contain multiple">
                        <div class="glider" id="ncebCards">
                            
                                        <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/1.png" class="img-fluid w-100" alt="MIIT slide 76" title="MIIT slide 76">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/2.jpg" class="img-fluid w-100" alt="MIIT slide 75" title="MIIT slide 75">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/3.png" class="img-fluid w-100" alt="MIIT slide 74" title="MIIT slide 74">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/4.png" class="img-fluid w-100" alt="MIIT slide 73" title="MIIT slide 73">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/5.png" class="img-fluid w-100" alt="MIIT slide 72" title="MIIT slide 72">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/6.png" class="img-fluid w-100" alt="MIIT slide 71" title="MIIT slide 71">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/7.png" class="img-fluid w-100" alt="MIIT slide 69" title="MIIT slide 69">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/8.png" class="img-fluid w-100" alt="MIIT slide 68" title="MIIT slide 68">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/9.png" class="img-fluid w-100" alt="MIIT slide 67" title="MIIT slide 67">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/10.png" class="img-fluid w-100" alt="MIIT slide 66" title="MIIT slide 66">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/11.png" class="img-fluid w-100" alt="MIIT slide 65" title="MIIT slide 65">
                                        </div>
                                    </div>
                                </div>
                                                            <div class="p-2">
                                    <div class="card bg-white shadow border-0 w-100">
                                        <div class="card-body text-center p-0">
                                            <img src="/images/uploads/12.png" class="img-fluid w-100" alt="MIIT slide 64" title="MIIT slide 64">
                                        </div>
                                    </div>
                                </div>
                                                    </div>
                    </div>
                </div>

                <br>
            </div>
        </div>
    </div>

<%- include('../partials/footer') %>
<script>
    var callMeInput = document.getElementById("callMeInput"),
        callMeError = document.getElementById("callMeError"),
        callMeBtn = document.getElementById("callMeBtn");
    callMeInput.addEventListener("input", (function(e) {
        var t = e.target.value;
        if (10 != t.length) callMeError.innerHTML = "Add 10 digit phone number.", callMeBtn.setAttribute("disabled", "disabled");
        else if (10 == t.length) {
            /^[6-9]\d{9}$/gm.test(t) ? (callMeError.innerHTML = "", callMeBtn.removeAttribute("disabled")) : (callMeError.innerHTML = "Invalid phone number.", callMeBtn.setAttribute("disabled", "disabled"))
        } else callMeError.innerHTML = ""
    })), callMeBtn.addEventListener("click", (function(e) {
        e.preventDefault(), callMeBtn.setAttribute("disabled", "disabled");
        var t = new XMLHttpRequest;
        t.open("POST.html", "website_functions.html", !0), t.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"), t.onreadystatechange = function() {
            4 == t.readyState && 200 == t.status && (response = JSON.parse(t.responseText), 1 == response.e_type ? callMeInput.value = "" : callMeBtn.removeAttribute("disabled"), callMeError.innerText = response.error)
        };
        var n = "callme=1&callmephone=" + callMeInput.value;
        t.send(n)
    }));
</script>    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glider/glider.min.js"></script>
    <script>
        ncebCardsGlider = new Glider(document.querySelector('#ncebCards'), {
            slidesToShow: 3,
            slidesToScroll: 1,
            scrollLock: true,
            draggable: true,
            duration: 2,
            responsive: [{
                breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 'auto'
                }
            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 'auto'
                }
            }, {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 6,
                    slidesToScroll: 'auto'
                }
            }]
        });

        function sliderAuto(slider, miliseconds) {
            const slidesCount = slider.track.childElementCount;
            let slideTimeout = null;
            let nextIndex = 1;

            function slide() {
                slideTimeout = setTimeout(
                    function() {
                        if (nextIndex >= slidesCount) {
                            nextIndex = 0;
                        }
                        slider.scrollItem(nextIndex++);
                    },
                    miliseconds
                );
            }

            slider.ele.addEventListener('glider-animated', function() {
                window.clearInterval(slideTimeout);
                slide();
            });

            slide();
        }

        sliderAuto(ncebCardsGlider, 2000);
    </script>