<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <h4>Q1.How to VERIFY CENTER ?</h4>
                </div>
                <div class="card-body">
                    <p>A: It is as simple as click of button simply click Verify Center button on MIIT homepage and enter center id and click on submit or scan qr code on center certificate after successful scan link will be provided open that link to see center details.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Q2.How to VERIFY STUDENT ?</h4>
                </div>
                <div class="card-body">
                    <p>A: It is as simple as click of button simply click Verify Student button on MIIT homepage and enter student id and click on submit or scan qr code on student certificate or marksheet after successful scan link will be provided open that link to see student details.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Q3.How to VERIFY CERTIFICATE ?</h4>
                </div>
                <div class="card-body">
                    <p>A: It is as simple as click of button simply click Verify Certificate button on MIIT homepage and enter student id and click on submit it will redirect you to certificate page where you can see certificate .</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Q4.How to VERIFY MARKSHEET ?</h4>
                </div>
                <div class="card-body">
                    <p>A: It is as simple as click of button simply click Verify Marksheet button on MIIT homepage and enter student id and click on submit it will redirect you to certificate page where you can see Marksheet with detailed information of exam and marks.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Q5.How to register new CENTER in MIIT ?</h4>
                </div>
                <div class="card-body">
                    <p>A:We at MIIT always ensure best user experience , we created a form in such a way anybody having basic knowledge can fill it</p>
                    <i>Here are the detailed steps to registration process :</i>
                    <ul>
                        <li>Click on “REGISTER” in navigation links, inside of it click on “Center Register”</li>
                        <li>A registration form will open</li>
                        <li>Before start filling up registration form make sure to keep scanned copy of your aadhar card (must be under 500kb), your recent educationla marsheet (must be under 500kb), payment screen(security deposit paid to MIIT, file must be under 500kb), passport size pic (size of w200 x h200px) and your signature (in .png format with size of [w200 x h100px])</li>
                        <li>Enter your full name as on your AADHAR card</li>
                        <li>Enter valid phone number so that we can help you in future </li>
                        <li>Enter valid email address to receive your username and password and rest of the further information</li>
                        <li>Enter your Institute name (if you haven’t registered anywhere yet enter MIIT)</li>
                        <li>Enter valid address to receive certificates , marksheets and rest of documents</li>
                        <li>Select your state from dropdown list</li>
                        <li>Enter your district , city and pincode (it will help us in finding fastest courier service)</li>
                        <li>Enter total number of Personal Computers (Minimum PC’s required is 3)</li>
                        <li>Enter Number of Staffs in your institute</li>
                        <li>Finally Solve simple math problem and enter your answer</li>
                        <li>Now Click on “REGISTER” button</li>
                    </ul>

                    <i>Here are the detailed steps to Upload documents :</i>
                    <ul>
                        <li>Click on browse button and Select your aadhar card file (must be in .jpg, .png or .jpeg format)</li>
                        <li>Click on browse button and Select your marksheet file (must be in .jpg, .png or .jpeg format)</li>
                        <li>Click on browse button and Select your payment screenshot(security deposit submitted to MIIT) file (must be in .jpg, .png or .jpeg format)</li>
                        <li>Click on browse button and Select your Passport image file (must be in .jpg, .png or .jpeg format and size of width : 200px X height : 200px)</li>
                        <li>Click on browse button and Select your Signature image file (must be in .png format and size of width : 200px X height : 100px)</li>
                        <li>After selecting all 5 files click on “UPLOAD” button it will upload all your documents</li>
                        <li>After Successful upload images will be shown as list below form</li>
                        <li>Now sit back relax wait for ADMIN to verify your profile</li>
                        <li>For faster verification call us at 7351556786 with your CENTER ID which is received on your email.</li>
                    </ul>
                    <p class="text-danger">Note : if you closed document upload window by any means don’t worry call us with your center ID we will provide you new link</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Q6.How to view CENTER demo panel ?</h4>
                </div>
                <div class="card-body">
                    <p>A: Click on “CENTER” in navigation links, inside of it click on “Center Demo” login screen will open use Email : <b>test@miiteducation.in</b> and Password : <b>test@123</b> after successful login you can see our state of the art Center Panel Dashboard</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Q7.How to submit an enquiry to MIIT ?</h4>
                </div>
                <div class="card-body">
                    <p>A: Simply click on “Quick Enquiry” floating side button in home page , it will pop up enquiry form please fill all basic details , the more accurate information you provide lesser time we take to resolve you query.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Q8.How to get in touch with MIIT ?</h4>
                </div>
                <div class="card-body">
                    <i>There 4 ways to contact us</i>
                    <ul>
                        <li>Call us on 8897738181</li>
                        <li>Use our “CALL ME” feature to get call from us, which is available on bottom right side in website foooter</li>
                        <li>Fill up our contact form</li>
                        <li>Mail us on our official mail provided in contact us page</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('../partials/footer') %>